pkgbase = beatslash-lv2
	pkgdesc = A set of LV2 plugins to mangle, slash, repeat and do much more with your beats.
	pkgver = 1.0.5
	pkgrel = 1
	url = http://objectivewave.wordpress.com/beatslash-lv2/
	arch = i686
	arch = x86_64
	groups = lv2-plugins
	license = GPL
	makedepends = python2
	makedepends = lvtk
	depends = lv2
	depends = gtkmm
	provides = lv2.beatslash
	source = beatslash-lv2-1.0.5.tar.gz::https://github.com/blablack/beatslash-lv2/archive/1.0.5.tar.gz
	md5sums = f992ea91cdf4e223817d94cc251e089d

pkgname = beatslash-lv2

