pkgbase = eid-mw
	pkgdesc = eID Middleware is the middleware for the Belgian electronic identity card
	pkgver = 4.1.21
	pkgrel = 2
	url = http://eid.belgium.be/
	arch = i686
	arch = x86_64
	license = LGPL3
	depends = pcsclite
	depends = gtk2
	optdepends = firefox: extension for Belgian eid
	optdepends = acsccid: ACS CCID smart card readers
	optdepends = ccid: A generic USB Chip/Smart Card Interface Devices driver
	optdepends = pcsc-tools: PC/SC smartcard tools
	source = http://eid.belgium.be/sites/default/files/downloads/eid-mw-4.1.21-v4.1.21.tar.gz
	sha512sums = adcf6678754d366492c66e91cfefe6b950ca5aa601c55bb146998a9265aec90b3832e1514cbf905a5b13a1e3d27a28338ba36e7cab4ef62e506f1ae5e9bab9da

pkgname = eid-mw

